---
layout: default
title: Home
---

<div>
  <h2> Microservice Architecture + Docker </h2>
  <img src="images/dockerlogo.png">
</div>

<div>
  <h1>MSA(Microservice Architecture)를 토대로 Docker를 사용한 RMS(Resource Management System) 구축하기</h1>
  <br>
  <h2>MSA란?</h2>
  <p>마이크로서비스는 전통적인 모놀리틱(monolithic)방식과는 다르게 각각의 핵심 기능을 세분화하여 서비스 단위로 제공합니다.</p>
  <p>각각의 서비스들은 서로 독립적으로 배포 가능하며, 서로간의 의존성은 최소화 합니다.</p>
  <p>또한, 각 서비스들은 서로간의 통신을 REST 방식으로 진행합니다.</P>
 
  <img src="images/msa.png">
  <p>출처:https://brunch.co.kr/@sangjinkang/11</p>
</div>  



<!-- <div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
